
config autossh
	option enabled '1'
	option localport '80'
	option localaddr '10.10.1.8'
	option remoteport '18888'
	option monitorport '5678'
	option pidfile '/tmp/run/autossh.pid'
	option logfile '/tmp/run/autossh.log'
	option poll '60'
	option firstpoll '30'
	option gatetime '0'
	option debug '0'
	option ssh 'yujc@166.111.224.223 -p10022 -i/etc/dropbear/dropbear_rsa_host_key'
