
config autossh
	option enabled '1'
	option localport '80'
	option localaddr '10.10.1.8'
	option remoteport '18888'
	option remoteport_maintain '28888'
	option monitorport '38888'
	option monitorport_maintain '48888'
	option pidfile '/tmp/run/autossh.pid'
	option logfile '/tmp/run/autossh.log'
	option pidfile_maintain '/tmp/run/autossh_maintain.pid'
	option logfile_maintain '/tmp/run/autossh_maintain.log'
	option poll '60'
	option firstpoll '30'
	option gatetime '0'
	option debug '0'
	option ssh 'yujc12@166.111.224.223 -p10022 -i/etc/dropbear/dropbear_rsa_host_key'
	option ssh_maintain 'yujc12@166.111.224.223 -p10022 -i/etc/dropbear/dropbear_rsa_host_key'
